@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,600;1,400&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Georama";
    background-color: #eee;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


a.with-icon {
    display: flex;
    align-items: center;
}
